@font-face {
    font-family: 'Lucida Console';
    src: url('Lucida_Console_Regular.ttf');
}

body {
    color: #414141;
    background-color:#1f1b1b;
    font-size:16px;
    font-family: 'Lucida Console';
    line-height: 20px;
}

.title {
    font-size:2.5em;
    text-align:left;
    margin: 0.7em 0.2em;
    width: 1400px;
}

.table-of-contents ul{
    color:white;
    list-style-type: none;
    display: inline-block;
}

.table-of-contents ul li{
    float:left;
    display:none;
    padding: 1.0em 2.0em;
}

.table-of-contents ul li h1{
    font-size: 3em;
}

h2 {
    font-size:2em;
    color: #723cfa;
}

h3 {
    color: #42e01b;
}

.subsection-content {
    display: none;
}

.subsection-content img {
    width: 40%;
}

.title, .subsection {
    font-family: 'Lucida Console', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

ul {
    list-style-type: none;
}

a:link, a:visited, a:active {
    color:white;
}

a:hover {
    color:grey;
}