<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />

        <title> Mayank's Corner </title>
        <link rel="stylesheet" href="../static/basic.css" />
        <script src = "../static/script.js" type="module"></script>
        <link rel = "icon" type = "image/png" href = "../static/images/hotstuff.png"/>
    </head>
    <body>
        <div id="banner_container">
            <div id="banner_image">
                <img src="../static/images/bb_fountain.jpg">
            </div>
            <div id="hidden_body">
                <div class="hidden_subsection" id="hidden_subsection1">
                    <div id="left_panel">
                        <p>
                            Hello there!<br><br>My name is Mayank, and I'm a Computer Science major at the University of California, Irvine specializing in 
                            Intelligent Systems. As a student professional, my interests focus on Artificial Intelligence and Machine Learning, but I love 
                            exploring many other facets of technology. I'm part of two research groups at my university:<br><br>1) researching the 
                            spread of wildfires in California with Convolutional Neural Networks and<br><br>2) researching synthetic network generators.<br><br>This website is a way for me
                            to document my projects and, occasionally, other thoughts and experiences.<br><br>Thanks for stopping by!
                        </p>
                    </div>
                </div>
                <div class="word_soup" id="about_soup">
                    
                </div>
            </div>
            <div id="title_card">
                <h1>
                    Mayank Sharma
                </h1>
                <h2>
                    Programmer
                </h2>
                <h2>
                    Researcher
                </h2>
                <h2>
                    Game Enthusiast
                </h2>
            </div>
        </div>

        <div id="footer">
            <div class="footer_subsection" id="footer1">
                <h2>
                    About Me
                </h2>

            </div>
            <div class="footer_subsection" id="footer2">
                <h2>
                    My Projects
                </h2>

            </div>
            <div class="footer_subsection" id="footer3">
                <h2>
                    My Thoughts
                </h2>
            </div>
        </div>
    </body>
</html>