<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />

        <title> Mayank's Corner </title>
        <link rel="stylesheet" href="../static/basic.css" />
        <script src = "../static/script.js" type="module"></script>
        <link rel = "icon" type = "image/png" href = "../static/images/hotstuff.png"/>
    </head>
    <body>
        <div id="banner_container">
            <div id="banner_image">
                <img src="../static/images/bb_fountain.jpg">
            </div>
            <div id="title_card">
                <h1>
                    Mayank Sharma
                </h1>
                <h2>
                    Programmer
                </h2>
                <h2>
                    Researcher
                </h2>
                <h2>
                    Game Enthusiast
                </h2>
            </div>
        </div>
        <div id="footer">
            <div class="footer_subsection" id="footer1">
                <h2>
                    About Me
                </h2>

            </div>
            <div class="footer_subsection" id="footer2">
                <h2>
                    My Projects
                </h2>

            </div>
            <div class="footer_subsection" id="footer3">
                <h2>
                    My Thoughts
                </h2>
            </div>
        </div>
    </body>
</html>