<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>$title$</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <header>
            <h1>MankNotes</h1>
            <h3> Hi, my name is Mayank. Friends call me Mank. This is where I leave my notes. So this is MankNotes. </h3>
            <nav>
                <a href="/about"> About </a><br>
                <a href="/history"> History </a><br>
                <a href="/policy"> Policy </a><br>
                <a href="/reviews"> Reviews </a><br>
                <a href="/spirituality-religion-and-mysticism"> Spirituality, Religion, and Mysticism </a>
            </nav>
            <hr>
        </header>

        <aside>
            $toc$
        </aside>

        <main>
            $body$
        </main>

        <footer>
            <hr>
                Copyright 2026
        </footer>
    </body>

</html>