<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>$title$</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <header>
            <h1>MankNotes</h1>
            <h3> Hi, my name is Mayank. Friends call me Mank. This is where I leave my notes. So this is MankNotes. </h3>
            <nav>
                <a href="/about"> About </a> 
                <a href="/learning-to-learn"> Learning to Learn </a> 
                <a href="/mathematics"> Mathematics </a>
                <a href="/physics"> Physics </a>
                <a href="/chemistry"> Chemistry </a>
                <a href="/biology"> Biology </a>
                <a href="/computer-science"> Computer Science </a>
                <a href="/economics"> Economics </a>
                <a href="/psychology"> Psychology </a>
                <a href="/writing"> Writing </a>
                <a href="/philosophy"> Philosophy </a>
                <a href="/history"> History </a>
                <a href="/engineering"> Engineering </a>
            </nav>
            <hr>
        </header>

        <aside>
            $toc$
        </aside>

        <main>
            $body$
        </main>

        <footer>
            <hr>
                Copyright 2026
        </footer>
    </body>

</html>